html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "helvetica";
  background-color: #000639;
}

.content {
  padding-top: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

h1 {
  color: white;
  text-align: left;
  font-size: 24px;
}

hr {
  border-color: #7ab55c;
  width: 5%;
}

.subscribe {
  color: white;
  text-align: left;
  padding-top: 2rem;
  font-size: 16px;
}

h3 {
  padding-top: 3rem;
}

hr {
  border-color: #7ab55c;
}

.btn{
  background-color: #5c6ac4;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  width: 30rem;
  border-color: #5c6ac4;
}

.form-content {
  padding: 1em;
  border-radius: 5px;
  vertical-align: middle;
  border: none;
  }

  .error-message {
    display: none;
    color: #f33;
  }


  .btn:hover {
    color: #000639;
    background-color: #5c6ac4;
    border-color: #000639;
  }
