html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "helvetica";
  background-color: #000639;
}

.content {
  padding-top: 5rem;
  margin-left: 22rem;
  margin-right: 22rem;
}

h1 {
  color: white;
  text-align: left;
  font-size: 24px;
  line-height: 2rem;
}

hr {
  border-color: #7ab55c;
  width: 5%;
}

.subscribe {
  color: white;
  text-align: left;
  padding-top: 2rem;
  font-size: 16px;
  font-weight: 200;
}

h3 {
  padding-top: 3rem;
}

hr {
  border-color: #7ab55c;
}

.btn{
  margin-top: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #5c6ac4;
  color: white;
  border-radius: 5px;
  width: 100%;
  border-color: #5c6ac4;
  font-size: 16px;
}

.form-content {
  padding-left: 1rem;
  border-radius: 8px;
  vertical-align: middle;
  border: none;
  height: calc(1.5rem + 1rem );
  }

.dropdown {
  padding-left: 1rem;
}

.dropdown-text {
  color: #7b7b7b;
}


  .error-message {
    display: none;
    color: red;
  }

  .is-validated > .error-message:first-child,
  .is-validated input:invalid + .error-message {
    display: block;
  }

  button:focus,
  button:hover,
  .btn:focus,
  .btn:hover {
    color: white;
    background-color: #5c6ac4;
  }

.unsub {
  color: white;
  border-bottom: 1rem;
  font-size: 10px;
  position: absolute;
  bottom: 20px;

}

a:hover {
  color: #c23628;
}
